<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ders Odam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 class="logo"><a href="website.html" class="header-link">Ders Odam</a></h1>
        <nav>
            <ul class="menu">
                <li class="dropdown">
                    <a href="#" class="dropbtn">Sınıflar</a>
                    <div class="dropdown-content">
                        <a href="fifth.html" href="#fifth">5. Sınıf</a>
                        <a href="sixth.html" href="#sixth">6. Sınıf</a>
                        <a href="seventh.html" href="#seventh">7. Sınıf</a>
                        <a href="eighth.html" href="#eighth">8. Sınıf</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <!-- Ders Butonları -->
        <div class="main-sections">
            <section id="turkce">
                <h2><a href="turkce.html" class="section-link">Türkçe</a></h2>
            </section>

            <section id="matematik">
                <h2><a href="matematik.html" class="section-link">Matematik</a></h2>
            </section>

            <section id="fen">
                <h2><a href="fen.html" class="section-link">Fen Bilimleri</a></h2>
            </section>

            <section id="sosyal">
                <h2><a href="sosyal.html" class="section-link">Sosyal Bilgiler</a></h2>
            </section>
            
            <section id="dil">
                <h2><a href="dil.html" class="section-link">Yabancı Dil</a></h2>
            </section>

        </div>
    </main>
</body>
</html>
