<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ders Odam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 class="logo">Ders Odam</h1>
        <nav>
            <ul class="menu">
                <li class="dropdown">
                    <a href="#" class="dropbtn">Sınıflar</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('fifth') }}">5. Sınıf</a>
                        <a href="{{ url_for('sixth') }}">6. Sınıf</a>
                        <a href="{{ url_for('seventh') }}">7. Sınıf</a>
                        <a href="{{ url_for('eighth') }}">8. Sınıf</a>
                    </div>
                </li>
            </ul>
            
        </nav>
    </header>
    
    <main>
        <!-- Ana fotoğraf bölümü -->
        <div class="main-image">
            <img src="static/css/classroom.jpg" alt="Eğitim Sitesi Ana Görseli">
        </div>

        <!-- Ders Butonları -->
        <div class="main-sections">
            <section id="fifth">
                <h2><a href="/fifth" class="section-link">5. Sınıf</a></h2>
            </section>

            <section id="sixth">
                <h2><a href="/sixth" class="section-link">6. Sınıf</a></h2>
            </section>

            <section id="seventh">
                <h2><a href="/seventh" class="section-link">7. Sınıf</a></h2>
            </section>

            <section id="eighth">
                <h2><a href="/eighth" class="section-link">8. Sınıf</a></h2>
            </section>
            
        </div>
    </main>
</body>
</html>
